{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title=author.full_name}}{{#*inline 'content'~}}
{{#if author.dob}}<h2 class="fs-5 serif">{{pretty-date author.dob}} &mdash; {{pretty-date author.dod}}</h2>{{/if}}

{{#if books}}
<div class="card mt-4">
    <div class="card-header">
        Cataloged works
    </div>
    <ul class="list-group list-group-flush">
        {{#each books}}
        <li class="list-group-item">
            <a class="serif h5" href="{{book_url}}">{{title}}</a>
            <p>{{summary}}</p>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
{{~/inline}}{{/catalog_layout}}
