{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Authors' no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between tiny-padding-2 px-sm-3">
        <span class="overflow-hidden">
        <h1 class="serif h2">Browse authors</h1>
        </span>
        <span class="">
            <a class="btn ui-button" href="/catalog/author/create"><img src="/file-earmark-plus.svg" alt="New entry icon click to create"></a>
        </span>
    </div>

    <ul class="list-group list-group-flush">
    {{#each authors}}
    <li class="list-group-item">
        <div class="row">
            <div class="col-5">
                <a href="{{author_url}}" class="serif fs-5">{{full_name}}</a>
                {{~#if dob}}<div class="text-muted"><small>{{pretty-date dob}} &ndash; {{pretty-date dod}}</small></div>{{/if~}}
            </div>
            {{#if bio}}
            <details class="col">
                <summary class="text-muted"><small>Bio</small></summary>
                {{bio}}
            </details>
            {{/if}}
        </div>
    </li>
    {{/each}}
    </ul>
</div>
{{~/inline}}{{/catalog_layout}}
