{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <span>
        <h1 class="serif h2 fw-semibold">{{author.full_name}}</h1>
        </span>
        <span class="">
            <a class="btn ui-button" href="{{author.author_url}}/update"><img src="/pencil-fill.svg" alt="Pencil icon click to edit"></a>
            <a class="btn ui-button" href="{{author.author_url}}/delete"><img src="/trash.svg" alt="Trash icon click to delete"></a>
        </span>
    </div>
    <div class="card-body pt-1 pb-0">
        {{#if author.dob}}<h2 class="fs-5 serif">{{pretty-date author.dob}} &ndash; {{pretty-date author.dod}}</h2>{{/if}}
    </div>
</div>

{{#if books}}
<div class="card">
    <div class="card-header">
        Cataloged works:
    </div>
    <ul class="list-group list-group-flush">
        {{#each books}}
        <li class="list-group-item">
            <a class="serif h5" href="{{book_url}}">{{title}}</a>
            <p>{{summary}}</p>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
{{~/inline}}{{/catalog_layout}}
