{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between tiny-padding-2 px-sm-3">
        <span class="overflow-hidden">
        <h1 class="serif fs-3 mb-1 fw-semibold">{{author.full_name}}</h1>
        {{#if author.dob}}<h2 class="fs-6 mb-0">{{pretty-date author.dob}} &ndash; {{pretty-date author.dod}}</h2>{{/if}}
        </span>
        <span class="ui-button-pair">
            <a class="btn ui-button" href="{{author.author_url}}/update"><img src="/pencil-fill.svg" alt="Pencil icon click to edit"></a>
            <a class="btn ui-button" href="{{author.author_url}}/delete"><img src="/trash.svg" alt="Trash icon click to delete"></a>
        </span>
    </div>
    <div class="card-body pt-2 pb-0">
        {{#if author.bio}}{{#each author.bio}}<p>{{.}}</p>{{/each}}{{/if}}
        {{#unless author.bio}}<p class="text-muted"><em>No biography available.</em></p>{{/unless}}
    </div>
</div>

{{#if books}}
<div class="card">
    <div class="card-header tiny-padding-2 px-sm-3">
        Cataloged works:
    </div>
    <ul class="list-group list-group-flush">
        {{#each books}}
        <li class="list-group-item">
            <a class="serif h5" href="{{book_url}}">{{title}}</a>
            <p>{{snippet}}</p>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
{{~/inline}}{{/catalog_layout}}
