{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Inventory' no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <span>
        <h1 class="serif h2">Inventory items</h1>
        </span>
        <span class="">
            <a class="btn ui-button" href="/catalog/inventory/create"><img src="/file-earmark-plus.svg" alt="New entry icon click to create"></a>
        </span>
    </div>

    <ul class="list-group list-group-flush">
    {{#each items}}
    <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-baseline">
        <a class="" href="{{book_instance_url}}">ID #{{instance_id}}
            {{title}}, {{full_name}}. {{imprint}}</a>
        <span class="
            {{~#if (match status 'Available')}}text-success{{/if~}}
            {{~#if (match status 'Maintenance')}}text-danger{{/if~}}
            ">{{status}}</span>
    </div>
    {{#if due_back}}
    <div class="fst-italic text-muted">Due back: {{pretty-date due_back}}</div>
    {{/if}}

    </li>
    {{/each}}
    </ul>
</div>
{{~/inline}}{{/catalog_layout}}
