{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Inventory item' no_title=1}}{{#*inline 'content'~}}
<div class="card">
    <div class="card-header d-flex justify-content-between tiny-padding-2 px-sm-3">
        <span class="overflow-hidden">
        <h3 class="serif">Inventory item #{{instance_id}}</h3>
        </span>
        <span class="ui-button-pair">
            <a class="btn ui-button" href="{{book_instance_url}}/update"><img src="/pencil-fill.svg" alt="Pencil icon click to edit"></a>
            <a class="btn ui-button" href="{{book_instance_url}}/delete"><img src="/trash.svg" alt="Trash icon click to delete"></a>
        </span>
    </div>
    <div class="card-body pt-2">

    <div><strong>Title: </strong><a href="{{book_url}}">{{book_title}}</a></div>
    <div><strong>Catalog ID: </strong>{{instance_id}}</div>
    <div><strong>Imprint: </strong>{{imprint}}</div>
    <div><strong>Availability: </strong>
        <span class="
            {{~#if (match status 'Available')}}text-success{{/if~}}
            {{~#if (match status 'Maintenance')}}text-danger{{/if~}}
            ">{{status}}</span></div>
    {{#if due_back}}<div><strong>Due: </strong>{{pretty-date due_back}}</div>{{/if}}
    </div>
</div>
{{~/inline}}{{/catalog_layout}}
