{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Browse inventory'}}{{#*inline 'content'~}}

<ul class="list-group">
{{#each items}}
<li class="list-group-item">
<div class="d-flex justify-content-between align-items-baseline">
    <a class="" href="{{book_instance_url}}">ID #{{instance_id}}
        {{title}}, {{full_name}}. {{imprint}}</a>
    <span class="
        {{~#if (match status 'Available')}}text-success{{/if~}}
        {{~#if (match status 'Maintenance')}}text-danger{{/if~}}
        ">{{status}}</span>
</div>
{{#if due_back}}
<div class="fst-italic text-muted">Due back: {{pretty-date due_back}}</div>
{{/if}}

</li>
{{/each}}
</ul>

{{~/inline}}{{/catalog_layout}}
