{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Books' no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header tiny-padding-2 px-sm-3">
        <div class="d-flex flex-column flex-sm-row justify-content-between">
            <span class="overflow-hidden pe-0" style="min-width: 11.8em;">
            <h1 class="serif h2 mb-0">Browse books</h1>
            </span>
            <span class="d-flex mt-2 mb-1 mt-sm-1">
                <form class="flex-grow-1 mt-0 me-1" action="?q=">
                    <span class="input-group d-flex">
                        <input style="flex-grow: 1;" class="form-control header-search-field" aria-label="Search title text" name="q" type="text" value="{{populate.search}}">
                        <button class="btn btn-outline-secondary" style="width: 38px;" type="submit" aria-label="Search button"><img class="search-icon" src="/search.svg" alt="Search icon"></button>
                    </span>
                </form>    
                <a class="btn ui-button" href="/catalog/book/create"><img src="/file-earmark-plus.svg" alt="New entry icon click to create"></a>
            </span>
        </div>

        {{> pagination_header}}

    </div>
    

    <ul class="list-group list-group-flush">
    {{#each books}}
    <li class="list-group-item overflow-hidden">
    <div class="d-flex justify-content-between align-items-baseline flex-column flex-sm-row">
        <span class="overflow-hidden">
            <a class="serif" href="{{book_url}}"><h2 class="fs-5 mb-1">{{title}}</h2></a>
        </span>
        <span class="overflow-hidden mb-1 text-start text-sm-end">
            <a class="fst-italic" href="{{author_url}}">{{full_name}}</a>
        </span>
    </div>
    <p class="overflow-hidden">{{snippet}}</p>
    </li>
    {{/each}}
    </ul>

    {{> pagination_footer}}
    
</div>
{{~/inline}}{{/catalog_layout}}
