{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Books' no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between tiny-padding-2 px-sm-3">
        <span class="overflow-hidden">
        <h1 class="serif h2">Browse books</h1>
        </span>
        <span class="">
            <a class="btn ui-button" href="/catalog/book/create"><img src="/file-earmark-plus.svg" alt="New entry icon click to create"></a>
        </span>
    </div>

    <ul class="list-group list-group-flush">
    {{#each books}}
    <li class="list-group-item overflow-hidden">
    <div class="d-flex justify-content-between align-items-baseline flex-column flex-sm-row">
        <span class="overflow-hidden">
            <a class="serif" href="{{book_url}}"><h2 class="fs-5 mb-1">{{title}}</h2></a>
        </span>
        <span class="overflow-hidden mb-1 text-start text-sm-end">
            <a class="fst-italic" href="{{author_url}}">{{full_name}}</a>
        </span>
    </div>
    <p class="overflow-hidden">{{snippet}}</p>
    </li>
    {{/each}}
    </ul>

</div>
{{~/inline}}{{/catalog_layout}}
