{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout }}{{#*inline 'content'~}}
<div class="card mt-3">
    <div class="card-header fs-4 fw-semibold">
        Choose book to {{action}}...
    </div>
    <ul class="list-group list-group-flush">
        {{#each books}}
        <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-baseline">
            <a class="serif" href="{{book_url}}/{{../action}}"><h2 class="fs-5">{{title}}</h2></a>
            <a class="fst-italic" href="{{author_url}}">{{full_name}}</a>
        </div>
        <p>{{summary}}</p>
        </li>
        {{/each}}
    </ul>
</div>
{{~/inline}}{{/catalog_layout}}
