{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_back=1}}{{#*inline 'content'~}}

<p>This mock catalog represents the web interface to a library catalog allowing users to browse, update, add and delete records describing books and their authors, along with the current status of this library's collection.</p>
<p>It features the ability to import real-world author and book data retrieved from the OpenLibrary API.</p>
<p>Indexing <strong>{{book_count}}</strong> books by <strong>{{author_count}}</strong> authors across <strong>{{genre_count}}</strong> genres.</p>
<p class="text-muted"><i>{{available_count}} of {{total_count}} volumes available.</i></p>

{{~/inline}}{{/catalog_layout}}
