{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_title=1}}{{#*inline 'content'~}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between tiny-padding-2 px-sm-3">
        <span class="overflow-hidden">
        <h1 class="serif h2 mb-1">{{title}}</h1>
        <div class="text-muted"><em>{{genreCount}} title{{#unless (match-string genreCount 1)}}s{{/unless}} in catalog</em></div>
        </span>
        <span class="ui-button-pair">
            <a class="btn ui-button" href="{{genre_url}}/update"><img src="/pencil-fill.svg" alt="Pencil icon click to edit"></a>
            <a class="btn ui-button" href="{{genre_url}}/delete"><img src="/trash.svg" alt="Trash icon click to delete"></a>
        </span>
    </div>

    <ul class="list-group list-group-flush">
        {{#each result}}
        <li class="list-group-item">
            <a href="{{book_url}}" class="serif fs-5">{{title}}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{~/inline}}{{/catalog_layout}}
