{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_title=1}}{{#*inline 'content'~}}
<script defer src="/handlebars/handlebars.min-v4.7.7.js"></script>
<script type="module" src="/import-author.js"></script>
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <span>
        <h1 class="serif h2">Import Author</h1>
        </span>
    </div>
    <div class="card-body px-2 px-sm-3">
        {{> script_required}}
        <div class="nojs-hidden col small-max-width">
            <label class="form-label" for="search-text">Name</label>
            <form class="input-group">
                <input type="text" class="form-control" id="search-text">
                <button class="btn btn-primary px-0" id="search-button" style="width: 6rem;">
                    <span class="spinner-border spinner-border-sm visually-hidden" id="search-spinner" role="status" aria-hidden="true"></span>
                    <span class="fw-semibold">Search</span>
                    <img class="invert align-baseline ms-1" id="magnifying-glass" src="/search.svg" alt="magnifing glass icon, click to search">
                </button>
            </form>
        </div>
    </div>
</div>

<!-- input form modal -->
<div class="modal fade" id="input-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title serif">Import author</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-id">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="import-button-id">
                    <span class="spinner-border spinner-border-sm visually-hidden" id="import-spinner" role="status" aria-hidden="true"></span>
                    Import
                </button>
            </div>
        </div>
    </div>
</div>

<!-- search result template -->
<template id="list-template">
    <div class="card px-0">
        <div class="card-header tiny-padding-2 px-sm-3" id="list-header">
            \{{#client-partial pagination_header}}
        </div>
        <ul class="list-group list-group-flush">
            \{{#each authors}}
            <li class="list-group-item shade-initially">
                <div class="row ps-2 px-sm-3">
                    <!-- snap bio -->
                    <div class="col-9 col-md-4 px-0 order-0">
                        <div class="fs-5 serif">\{{name}}</div>
                        <div class="text-muted lh-1"><small>\{{birth_date}}\{{#if birth_date}} &ndash; \{{/if}}\{{death_date}}</small></div>
                        <div class="text-muted">\{{#if top_work}}<small>Author of <em>\{{top_work}}</em></small>\{{/if}}</div>
                    </div>
                    <!-- expandables -->
                    <div class="col ps-1 order-3 order-md-1 overflow-hidden">
                        \{{#if alternate_names}}
                        <details>
                            <summary class="text-muted"><small>Also known as...</small></summary>
                            <ul>
                                \{{#each alternate_names}}
                                <li class="fs-6 serif">\{{.}}</li>
                                \{{/each}}
                            </ul>
                        </details>
                        \{{/if}}
                        <details class="bio">
                            <summary class="text-muted"><small>Bio</small></summary>
                            <p class="ps-2" data-key="\{{key}}"><em class="text-muted">Loading...</em></p>
                        </details>
                    </div>
                    <!-- plus button -->
                    <div class="col-3 col-md-1 px-0 order-2 pe-1" style="min-width: 38px;" align="right">
                        <button class="btn ui-button plus-button" data-bs-toggle="modal" data-bs-target="#input-modal" data-key="\{{key}}"><img src="/plus.svg"></button>
                    </div>

                </div>
            </li>
            \{{/each}}

        </ul>

        \{{#client-partial pagination_footer}}
    </div>
</template>

<!-- div serving as parent for dynamic search results -->
<div id="search-result-id"></div>

{{~/inline}}
{{/catalog_layout}}
