<form class="mb-4" id="author-form" action="{{form_action}}" method="POST">
    <div class="row mb-3">
        <label for="first-id" class="required-star col-form-label col-sm-4">First name</label>
        <div class="col input-group-has-validation">
            <input class="form-control {{#if (error-check trouble 'first_name')}}is-invalid{{/if}}" id="first-id" name="first_name" type="text" value="{{author.first_name}}">
            <div class="invalid-feedback">{{error-check trouble 'first_name'}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="last-id" class="col-form-label col-sm-4">Last name</label>
        <div class="col input-group-has-validation">
            <input class="form-control {{#if (error-check trouble 'last_name')}}is-invalid{{/if}}" id="last-id" name="last_name" type="text" value="{{author.last_name}}">
            <div class="invalid-feedback">{{error-check trouble 'last_name'}}</div>
        </div>
    </div>

    {{#if collapse}}<details><summary class="text-muted"><small>Details</small></summary>{{/if}}

    <div class="row mb-3">
        <label for="dob-id" class="col-form-label col-sm-4">Date (or year) of birth</label>
        <div class="col input-group-has-validation">
            <label class="text-muted" for="dob-id">Date</label>
            <input class="form-control {{#if (error-check trouble 'dob')}}is-invalid{{/if}}" id="dob-id" name="dob" type="date" value="{{author.dob}}">
            <div class="invalid-feedback">{{error-check trouble 'dob'}}</div>
        </div>
        <div class="col input-group-has-validation">
            <label class="text-muted" for="yob-id">Year</label>
            <input class="form-control {{#if (error-check trouble 'yob')}}is-invalid{{/if}}" id="yob-id" name="yob" type="text" value="{{extract-year author.dob}}">
            <div class="invalid-feedback">{{error-check trouble 'yob'}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="dod-id" class="col-form-label col-sm-4">Date (or year) of death</label>
        <div class="col input-group-has-validation">
            <label class="text-muted" for="dod-id">Date</label>
            <input class="form-control {{#if (error-check trouble 'dod')}}is-invalid{{/if}}" id="dod-id" name="dod" type="date" value="{{author.dod}}">
            <div class="invalid-feedback">{{error-check trouble 'dod'}}</div>
        </div>
        <div class="col input-group-has-validation">
            <label class="text-muted" for="yod-id">Year</label>
            <input class="form-control {{#if (error-check trouble 'yod')}}is-invalid{{/if}}" id="yod-id" name="yod" type="text" value="{{extract-year author.dod}}">
            <div class="invalid-feedback">{{error-check trouble 'yod'}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="bio-id" class="col-form-label col-sm-4">Biography</label>
        <div class="col input-group">
            <textarea name="bio" id="bio-id" cols="30" rows="10" class="form-control">{{author.bio}}</textarea>
        </div>
    </div>

    {{#if collapse}}</details>{{/if}}

    {{#if submit}}
    <div class="d-flex justify-content-end">
    <button class="btn btn-primary fw-semibold" type="submit">{{submit}}</button>
    </div>
    {{/if}}
</form>
